.footer 
	.wrapper
		.footer__copyright  © 2015 Games
		ul.footer__menu
			li
				a(href="#").footer__menu-item Игры
			li
				a(href="#").footer__menu-item Приложения
			li
				a(href="#").footer__menu-item Приколы
			li
				a(href="#").footer__menu-item Обратная связь
