doctype
head
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width,initial-scale=1")
	link(href="../../static/dist/style.css" rel="stylesheet")
	link(href="../../static/includes/normalize.css" rel="stylesheet")
	link(href="../../static/includes/owl.carousel.css" rel="stylesheet")
	link(href="../../static/includes/owl.theme.css" rel="stylesheet")
	script(src="../../js/dist/common.js" type="text/javascript")
	title mainPage
body
	include sprites
	block header
	block content
	block footer

