div(id="owl-slider" class="slider lg-slider")
	div(class="slider__item")
		img(src='../../img/slider.png')
	div(class="slider__item")
		img(src='../../img/slider.png')

div(id="owl-slider" class="slider xs-slider")
	div(class="slider__item")
		img(src='../../img/mobile-slider.png')
	div(class="slider__item")
		img(src='../../img/mobile-slider.png')