@import 'includes/owl-carousel/owl.carousel';
@import 'includes/owl-carousel/owl.theme.default';



.sm-hidden{
	@media(max-width: 629px){
		display: none !important;
	}
	
	
}

.xs-hidden{
	@media(max-width: 500px){
		display: none !important;
	}
}


.md-hidden{
	@media (max-width:939px){
		display: none !important;
	}
}
.xs-button{
	@media(min-width: 650px){
		display: none;
	}
	@media(max-width: 649px){
		display: block;
	}
}

.lg-button{
	@media(min-width: 650px){
		display: block;
	}
	@media(max-width: 649px){
		display: none;
	}
}


.lg-slider{
	@media(min-width: 500px){
		display: block !important;
	}
	display: none !important;
}
.xs-slider{
	@media(max-width: 499px){
		display: block !important;
	}
	display: none !important;
}



.wrapper{
	width: 940px;
	margin: 0 auto;
	@media(max-width: 940px){
		width: 100%;
		padding: 0 15px;
	}
}


.lg-slider .owl-nav .owl-prev svg{
	width: 44px;
	height: 44px;
	float: left;
}
.lg-slider .owl-nav .owl-next svg{
	width: 44px;
	height: 44px;
	float: right;
}
.owl-prev svg use{
	fill: #738b8b;
}
.owl-next svg use{
	fill: #738b8b;
}

.xs-slider .owl-nav .owl-prev svg{
	width: 30px;
	height: 30px;
	float: left;
}
.xs-slider .owl-nav .owl-next svg{
	width: 30px;
	height: 30px;
	float: right;
}





.owl-nav{
	width: 940px;
	@media(max-width: 940px){
		width: 100%;
		padding: 0 20px;
		left: 0;
		margin: 0;
	}
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0px 0 0 -470px;
    
}

.slider__item img{
	width: 100%;
}


.slider{
	padding-top: 61px;
	@media(max-width: 500px){
		padding-top: 66px;
	}
}